# Web Framework
flask==3.0.3
flask-cors==4.0.1

# Machine Learning
scikit-learn==1.4.2
lightgbm==4.3.0
mapie==0.8.6
pandas==2.2.2
numpy==1.26.4
joblib==1.4.2

# Database
pymongo==4.7.1

# LLM
google-generativeai==0.7.2

# Config & Utils
python-dotenv==1.0.1
gunicorn==22.0.0